<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>696733512435-rbtt3ojdjo5sv0c7vbjvgtmin4dr8eep.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.696733512435-rbtt3ojdjo5sv0c7vbjvgtmin4dr8eep</string>
	<key>API_KEY</key>
	<string>AIzaSyATDnwRXMK4ZMgpTdUYNkbbBkJNRbBaViU</string>
	<key>GCM_SENDER_ID</key>
	<string>696733512435</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.panduxcv.M-K-P-D-Mandawala-COBSCCOMP181P029</string>
	<key>PROJECT_ID</key>
	<string>customlogindemo-9fc6d</string>
	<key>STORAGE_BUCKET</key>
	<string>customlogindemo-9fc6d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:696733512435:ios:a33df3a8e661169725bd86</string>
	<key>DATABASE_URL</key>
	<string>https://customlogindemo-9fc6d.firebaseio.com</string>
</dict>
</plist>